<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增一条博客</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <script src="/lib/bootstrap/js/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .error{
            color: orangered;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">新增博客信息</h3>
            </div>
            <div class="panel-body has-success">
                <form action="#" id="addBlog" method="post" class="form" role="form">
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" class="form-control input-lg" name="title" id="title" placeholder="请输入标题">
                    </div>
                    <div class="form-group">
                        <label for="type">博客类型</label>
                        <select name="type" id="type">
                            {{each blogType}}
                                <option value="{{$value.id}}">{{$value.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        <label for="description">描述</label>
                        <input type="text" class="form-control input-lg" name="description" id="description" placeholder="请输入描述信息">
                    </div>
                    <div class="form-group">
                        <label for="content">内容</label>
                        <textarea style="height: 500px" class="form-control input-lg" name="content" id="content" placeholder="请输入内容，不少于6个字"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg pull-right">提交</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/lib/js/jquery.validate.js"></script>
<script src="/lib/js/messages_zh.js"></script>
<script charset="utf-8" src="/lib/kindeditor/kindeditor.min.js"></script>
<script charset="utf-8" src="/lib/kindeditor/lang/zh-CN.js"></script>
<script>
    //初始化kindeditor编辑器，在失去textarea焦点后同步kindeditot的数据到表单元素中
    var options = {
        uploadJson: '/common/kindeditor/uploadImg',
        afterBlur: function () {
            this.sync();
        }
    };

    //window.editor注册一个全局的editor变量，保存当前的文本编辑器
    KindEditor.ready(function(K) {
        window.editor = K.create('#content', options);
    });


    //表单验证处理
    $('#addBlog').validate({
        //截下表单的提交另做处理
        submitHandler:function(ele){
            // 在此处通过ajax方式提交表单数据到服务器
            $.ajax({
                type:'post',
                url:'/api/v1/blog/add/{{blog.id}}',
                dataType:'json',
                data:$(ele).serialize(),
                success:function(res){
                    alert(res.msg);
                    location.href = '/blog/';
                },
                error:function (err) {
                    console.dir(err);
                }
            })
        },
        // 验证规则
        rules:{
            title:{
                required:true,
                minlength:2
            },
            description:{
                required:true,
                minlength:4
            },
            content:{
                required:true,
                minlength:6
            }
        },
        errorClass: 'error'
    })
</script>