<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增一条博客</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <script src="/lib/bootstrap/js/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .error{
            color: orangered;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">新增博客信息</h3>
            </div>
            <div class="panel-body has-success">
                <form action="#" id="addBlog" method="post" class="form" role="form">
                    <input type="hidden" name="_id" value="{{blog.id}}">
                    <input type="hidden" name="created_at" value="{{blog.getCreateDate()}}">
                    <input type="hidden" name="updated_at" value="{{blog.getUpdateDate()}}">
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" class="form-control input-lg" name="title" id="title" placeholder="请输入标题">
                    </div>
                    <div class="form-group">
                        <label for="type">博客类型</label>
                        <input type="text" class="form-control input-lg" name="type" id="type" placeholder="请输入博客类型">
                    </div>
                    <div>
                        <label for="description">描述</label>
                        <textarea class="form-control input-lg" name="description" id="description" placeholder="请输入描述信息"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">内容</label>
                        <textarea class="form-control input-lg" name="content" id="content" placeholder="请输入内容"></textarea>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="view_times">浏览次数</label>-->
                        <!--<input type="text" class="form-control input-lg" name="view_times" id="view_times" placeholder="请输入博客类型">-->
                    <!--</div>-->
                    <button type="submit" class="btn btn-success btn-lg pull-right">提交</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/lib/js/jquery.validate.js"></script>
<script src="/lib/js/messages_zh.js"></script>
<script>
    $('#addBlog').validate({
        //截下表单的提交另做处理
        submitHandler:function(ele){
            // 在此处通过ajax方式提交表单数据到服务器
            $.ajax({
                type:'post',
                url:'/api/v1/blog_type/add',
                dataType:'json',
                data:$(ele).serialize(),
                success:function(res){
                    alert(res.msg);
                    location.href = '/';
                },
                error:function (err) {
                    console.dir(err);
                }
            })
        },
        // 验证规则
        rules:{
            name:{
                required:true,
                minlength:2
            },
            description:{
                required:true,
                minlength:6
            }
        },
        errorClass: 'error'
    })
</script>