<!DOCTYPE html>
-<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客展示</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/lib/bootstrap/js/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">博客列表</h3>
            </div>
            <div class="panel-body">
                <button onclick="location.href='/api/v1/blog/add'" type="button" class="btn btn-danger pull-right" style="margin-bottom: 10px">添加</button>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>标题</th>
                        <th>博客类型</th>
                        <th>描述</th>
                        <th>浏览次数</th>
                        <th>创建日期</th>
                        <th>修改日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="write">
                        {{each blogData}}
                        <tr>
                            <td>{{$index + 1}}</td>
                            <td><a href="/api/v1/blog/show?id={{$value.id}}">{{$value.title}}</a></td>
                            <td>{{$value.type.name}}</td>
                            <td>{{$value.description}}</td>
                            <td>{{$value.view_times}}</td>
                            <td>{{$value.getCreateDate()}}</td>
                            <td>{{$value.getUpdateDate()}}</td>
                            <td>
                                <a href="/api/v1/blog/editor?id={{$value.id}}" class="btn btn-success">修改</a>
                                <a href="javascript:;" onclick="del('{{$value.id}}')" class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function del(id) {
        var r = window.confirm('你确定要删除吗？')
        if(r){
            $.ajax({
                url: '/api/v1/blog/delete',
                method: 'get',
                data: {id: id},
                dataType: 'json',
                success: function (res) {
                    if(res.status == 200){
                        alert(res.msg);
                        location.href = '/blog'
                    }else{
                        alert('删除失败!');
                    }
                }
            })
        }
    }
</script>